.box1{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: 0.5s;
    margin-left: 200px;
    margin-top: 200px;
}


.box1:hover{ 
    /* transform: rotateX(180deg); */
    transform: scale(2);
    background-color: blue;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px 50px 20px 50px;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: 0.2s;
    margin-left: 200px;
    margin-top: 200px;
}
.box2:active{ 
    background-color: red;
    
}
.box3{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 200px;
    background-color: blueviolet;
}



input:focus{ 
    background-color: red;
    
}

.box4{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 200px;
    font-size: 1.7em;
    background-color: greenyellow;
}

.box4 li:first-child{
    color: maroon;
}
.box4 li:last-child{
    color: blue;
}
.box4 li:nth-child(3){
    color: red;
}







