:root{
    --tamanhoFontePrincipal: 2em;
    --varCorTextoPrincipal: green;
}

h1 {
    color: var(--varCorTextoPrincipal);
    font-size: var(--tamanhoFontePrincipal);
}

h2 {
    color: var(--varCorTextoPrincipal);
    font-size: var(--tamanhoFontePrincipal);
}